@import "_utils/variables";
@import "_utils/header";
@import "_utils/normal-fruits-section";
@import "_utils/super-fruits-section";
@import "_utils/fruit-table";
@import "_utils/last-section";
@import "_utils/footer";


* {
  text-decoration: none;
  list-style: none;
  font-family: 'Lato', sans-serif;
  color: black;
  margin: 0;
}

.wrapper {
  width: 100%;
}