.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

header {
  background-image: url("../images/mix-owocow-w-koszyku.jpg");
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2em; }

.menu {
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.menu-link-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.menu-link-container a {
  font-size: 0.7em;
  color: #fff; }

.menu-bars {
  padding: 1.5em 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: rgba(0, 0, 0, 0.5); }

.menu-bars a:last-child {
  margin-right: 0.3em; }

.menu-link {
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.upper-menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.upper-menu a {
  font-size: 0.9em; }

.lower-menu {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: rgba(0, 0, 0, 0.8); }

.logo img {
  width: 40%; }

nav {
  width: 70%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.hero-middle {
  text-align: center; }

.hero-middle .hero-h1 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff; }

.hero-middle .hero-h2 {
  font-weight: 400;
  color: #fff; }

.show-hide-menu {
  margin-top: -13em;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s; }

.hamburger {
  width: 25px;
  cursor: pointer;
  z-index: 5;
  margin-right: 3em; }

.bar {
  height: 4px;
  width: 25px;
  border-radius: 2px;
  background-color: #fff;
  position: relative;
  margin-bottom: 5px;
  -webkit-transition: -webkit-transform 1s linear;
  transition: -webkit-transform 1s linear;
  transition: transform 1s linear;
  transition: transform 1s linear, -webkit-transform 1s linear;
  -webkit-transform-origin: 0;
  transform-origin: 0 2; }

.down {
  -webkit-transform: translateY(0) rotate(0deg);
  transform: translateY(0) rotate(0deg);
  -webkit-animation: downrev 0.9s ease forwards;
  animation: downrev 0.9s ease forwards; }

.downstart {
  -webkit-animation: down 0.7s ease forwards;
  animation: down 0.7s ease forwards; }

@-webkit-keyframes down {
  0% {
    -webkit-transform: translateY(0); }
  55% {
    -webkit-transform: translateY(9px); }
  65% {
    -webkit-transform: translateY(9px); }
  100% {
    -webkit-transform: rotate(45deg); } }

@keyframes down {
  0% {
    -webkit-transform: translateY(0); }
  55% {
    -webkit-transform: translateY(9px); }
  65% {
    -webkit-transform: translateY(9px); }
  100% {
    -webkit-transform: rotate(45deg); } }

@-webkit-keyframes downrev {
  0% {
    -webkit-transform: rotate(45deg); }
  35% {
    -webkit-transform: rotate(0deg); }
  45% {
    -webkit-transform: translateY(0px); }
  100% {
    -webkit-transform: translateY(0px); } }

@keyframes downrev {
  0% {
    -webkit-transform: rotate(45deg); }
  35% {
    -webkit-transform: rotate(0deg); }
  45% {
    -webkit-transform: translateY(0px); }
  100% {
    -webkit-transform: translateY(0px); } }

.fade {
  -webkit-animation: faderev 0.9s ease forwards;
  animation: faderev 0.9s ease forwards; }

.fadestart {
  -webkit-animation: fade 0.7s ease forwards;
  animation: fade 0.7s ease forwards; }

@-webkit-keyframes fade {
  0% {
    opacity: 1; }
  55% {
    opacity: 1; }
  60% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes fade {
  0% {
    opacity: 1; }
  55% {
    opacity: 1; }
  60% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-webkit-keyframes faderev {
  0% {
    opacity: 0; }
  75% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes faderev {
  0% {
    opacity: 0; }
  75% {
    opacity: 1; }
  100% {
    opacity: 1; } }

.up {
  -webkit-transform: translateY(0) rotate(0deg);
  transform: translateY(0) rotate(0deg);
  -webkit-animation: uprev 0.9s ease forwards;
  animation: uprev 0.9s ease forwards; }

.upstart {
  -webkit-animation: up 0.7s ease forwards;
  animation: up 0.7s ease forwards; }

@-webkit-keyframes up {
  0% {
    -webkit-transform: translateY(0); }
  55% {
    -webkit-transform: translateY(-9px); }
  65% {
    -webkit-transform: translateY(-9px); }
  100% {
    -webkit-transform: rotate(-45deg); } }

@keyframes up {
  0% {
    -webkit-transform: translateY(0); }
  55% {
    -webkit-transform: translateY(-9px); }
  65% {
    -webkit-transform: translateY(-9px); }
  100% {
    -webkit-transform: rotate(-45deg); } }

@-webkit-keyframes uprev {
  0% {
    -webkit-transform: rotate(-45deg); }
  35% {
    -webkit-transform: rotate(0deg); }
  45% {
    -webkit-transform: translateY(0px); }
  100% {
    -webkit-transform: translateY(0px); } }

@keyframes uprev {
  0% {
    -webkit-transform: rotate(-45deg); }
  35% {
    -webkit-transform: rotate(0deg); }
  45% {
    -webkit-transform: translateY(0px); }
  100% {
    -webkit-transform: translateY(0px); } }

.scroll-arrow {
  margin-top: 7em;
  width: 100%; }

.chevron {
  position: absolute;
  width: 2.1rem;
  height: 0.48rem;
  opacity: 0;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  -webkit-animation: move-chevron 3s ease-out infinite;
          animation: move-chevron 3s ease-out infinite; }

.chevron:first-child {
  -webkit-animation: move-chevron 3s ease-out 1s infinite;
          animation: move-chevron 3s ease-out 1s infinite; }

.chevron:nth-child(2) {
  -webkit-animation: move-chevron 3s ease-out 2s infinite;
          animation: move-chevron 3s ease-out 2s infinite; }

.chevron:before,
.chevron:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #fff; }

.chevron:before {
  left: 0;
  -webkit-transform: skewY(30deg);
          transform: skewY(30deg); }

.chevron:after {
  right: 0;
  -webkit-transform: skewY(-30deg);
          transform: skewY(-30deg); }

@-webkit-keyframes move-chevron {
  25% {
    opacity: 1; }
  33.3% {
    opacity: 1;
    -webkit-transform: translateY(2.28rem);
            transform: translateY(2.28rem); }
  66.6% {
    opacity: 1;
    -webkit-transform: translateY(3.12rem);
            transform: translateY(3.12rem); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(4.8rem) scale(0.5);
            transform: translateY(4.8rem) scale(0.5); } }

@keyframes move-chevron {
  25% {
    opacity: 1; }
  33.3% {
    opacity: 1;
    -webkit-transform: translateY(2.28rem);
            transform: translateY(2.28rem); }
  66.6% {
    opacity: 1;
    -webkit-transform: translateY(3.12rem);
            transform: translateY(3.12rem); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(4.8rem) scale(0.5);
            transform: translateY(4.8rem) scale(0.5); } }

.normal-fruits {
  width: 85%; }

.nf-box {
  color: black; }

.nf-box h2 {
  margin-bottom: 1em; }

.nf-box .nf-paragraph {
  margin-bottom: 2em;
  max-width: 650px; }

.nf-photos img {
  max-width: 80%;
  margin-bottom: 2em; }

@media only screen and (min-width: 900px) {
  .nf-box .nf-photos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .nf-box .nf-photos img {
    width: 50%;
    height: 400px; } }

.h1-wannabe {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em; }

.super-fruits {
  width: 90%;
  margin-bottom: 3em; }

.sf-row {
  max-height: 13em; }

.sf-row .sf-img-div {
  width: 50%;
  height: 180px;
  background-repeat: no-repeat;
  background-size: contain; }

.sf-row .sf-img-div.sf-img1 {
  background-image: url("../images/wisnie-czerwone.jpg");
  background-position: right; }

.sf-row .sf-img-div.sf-img2 {
  background-image: url("../images/czeresnie-w-misce.jpg");
  background-position: left; }

.sf-row .sf-img-div.sf-img3 {
  background-image: url("../images/jablka-zielone.jpg");
  background-position: right; }

.sf-row .sf-img-div.sf-img4 {
  background-image: url("../images/truskawka-zerwana.jpg");
  background-position: left; }

.sf-row img {
  max-height: 100%; }

.sf-row .sf-text-box {
  width: 50%;
  max-width: 650px; }

.sf-row .sf-text-box h4 {
  margin-bottom: 0.6em; }

.sf-row .sf-text-box p {
  font-size: 0.9em; }

.sf-row .sf-text-box h4, .sf-row .sf-text-box p {
  padding: 0 1em; }

.fruit-table-section {
  width: 90%;
  max-width: 650px;
  font-size: 1em;
  margin-bottom: 3em; }

.fruit-table, th, td {
  border-collapse: collapse;
  border: 1px solid black; }

.last-section {
  width: 90%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2em; }

.last-section .ls-row {
  width: 43%;
  padding: 0.6em; }

.last-section .ls-row h3, .last-section .ls-row p {
  margin-bottom: 1em; }

.last-section .ls-row:first-child, .last-section .ls-row:last-child {
  background-color: rgba(215, 223, 237, 0.2); }

.last-section .ls-row:nth-child(2), .last-section .ls-row:nth-child(3) {
  background-color: rgba(130, 182, 255, 0.2); }

.last-section .ls-row .ls-img-div {
  height: 7em;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; }

.last-section .ls-row .ls-img-div.ls-img1 {
  background-image: url("../images/wisnie-czerwone.jpg"); }

.last-section .ls-row .ls-img-div.ls-img2 {
  background-image: url("../images/czeresnie-w-misce.jpg"); }

.last-section .ls-row .ls-img-div.ls-img3 {
  background-image: url("../images/jablka-zielone.jpg"); }

.last-section .ls-row .ls-img-div.ls-img4 {
  background-image: url("../images/truskawka-zerwana.jpg"); }

@media only screen and (min-width: 900px) {
  .last-section .ls-row {
    width: 20%;
    padding: 1.2em; } }

footer {
  width: 100%;
  background-color: lightgrey;
  padding: 2em 0; }

.footer-wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.footer-wrapper .f-menu {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin-bottom: 1em; }

.footer-wrapper .f-menu .f-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer-wrapper .f-menu .f-row a {
  text-transform: uppercase;
  font-size: 0.8em; }

.footer-wrapper .f-logo img {
  width: 50%; }

@media only screen and (min-width: 700px) {
  .footer-wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .footer-wrapper .f-logo img {
    width: 70%; } }

* {
  text-decoration: none;
  list-style: none;
  font-family: 'Lato', sans-serif;
  color: black;
  margin: 0; }

.wrapper {
  width: 100%; }
