footer {
  width: 100%;
  background-color: lightgrey;
  padding: 2em 0;
}

.footer-wrapper {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .f-menu {
    justify-content: space-around;
    width: 100%;
    margin-bottom: 1em;

    .f-row {
      justify-content: space-between;
      a {
        text-transform: uppercase;
        font-size: 0.8em;
      }
    }
  }

  .f-logo {
    img {
      width: 50%;
    }
  }
}

@media only screen and (min-width: 700px) {
  .footer-wrapper {
    justify-content: space-around;
    flex-wrap: nowrap;
    .f-logo {
      img {
        width: 70%;
      }
    }
  }

}
