header {
  background-image: url("../images/mix-owocow-w-koszyku.jpg");
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2em;
}

.menu {
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  // background: rgba(0, 0, 0, 0.5);
}

.menu-link-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  a {
    // margin-right: 0.5em;
    font-size: 0.7em;
    color: #fff;
  }
}

.menu-bars {
  padding: 1.5em 0;
  transition: 0.5s;
  background: rgba(0, 0, 0, 0.5);

  a:last-child {
    margin-right: 0.3em;
  }
}

.menu-link {
  transition: 0.5s;
}

.upper-menu {
  justify-content: space-between;
  align-items: center;
  a {
    font-size: 0.9em;
  }
}

.lower-menu {
  justify-content: flex-end;
  background: rgba(0, 0, 0, 0.8);
  // display none do czasu najechania na rodzaje w menu
}

.logo {
  img {
    width: 40%;
  }
}

nav {
  width: 70%;
  justify-content: flex-end;
  align-items: center;
}

.hero-middle {
  text-align: center;
  
  .hero-h1 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
  }

  .hero-h2 {
    font-weight: 400;
    color: #fff;
  }
}

// .hamburger {
//   position: absolute;
//   right: 2em;
//   top: 2.9em;
// }

.show-hide-menu {
  margin-top: -13em;
  opacity: 0;
  transition: 1s;
}

// .nav-toggler {
//   transition: .5s;
//   margin-top: -20em;
// }

///////// hamburger icon
.hamburger {
  width: 25px;
  cursor: pointer;
  z-index: 5;
  margin-right: 3em;
}

.bar {
  height: 4px;
  width: 25px;
  border-radius: 2px;
  background-color: #fff;
  position: relative;
  margin-bottom: 5px;
  transition: transform 1s linear;
  -webkit-transform-origin: 0;
  transform-origin: 0 2;
}

.down {
  -webkit-transform: translateY(0) rotate(0deg);
  transform: translateY(0) rotate(0deg);
  -webkit-animation: downrev 0.9s ease forwards;
  animation: downrev 0.9s ease forwards;
}

.downstart {
  -webkit-animation: down 0.7s ease forwards;
  animation: down 0.7s ease forwards;
}

@keyframes down {
  0% {
    -webkit-transform: translateY(0);
  }
  55% {
    -webkit-transform: translateY(9px);
  }
  65% {
    -webkit-transform: translateY(9px);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes downrev {
  0% {
    -webkit-transform: rotate(45deg);
  }
  35% {
    -webkit-transform: rotate(0deg);
  }
  45% {
    -webkit-transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px);
  }
}

.fade {
  -webkit-animation: faderev 0.9s ease forwards;
  animation: faderev 0.9s ease forwards;
}

.fadestart {
  -webkit-animation: fade 0.7s ease forwards;
  animation: fade 0.7s ease forwards;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes faderev {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.up {
  -webkit-transform: translateY(0) rotate(0deg);
  transform: translateY(0) rotate(0deg);
  -webkit-animation: uprev 0.9s ease forwards;
  animation: uprev 0.9s ease forwards;
}

.upstart {
  -webkit-animation: up 0.7s ease forwards;
  animation: up 0.7s ease forwards;
}

@keyframes up {
  0% {
    -webkit-transform: translateY(0);
  }
  55% {
    -webkit-transform: translateY(-9px);
  }
  65% {
    -webkit-transform: translateY(-9px);
  }
  100% {
    -webkit-transform: rotate(-45deg);
  }
}

@keyframes uprev {
  0% {
    -webkit-transform: rotate(-45deg);
  }
  35% {
    -webkit-transform: rotate(0deg);
  }
  45% {
    -webkit-transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px);
  }
}

// Animated Arrow
$base: 0.6rem;

.scroll-arrow {
  margin-top: 7em;
  width: 100%;
}

.chevron {
  position: absolute;
  width: $base * 3.5;
  height: $base * 0.8;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skewY(30deg);
}

.chevron:after {
  right: 0;
  // width: 50%;
  transform: skewY(-30deg);
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    transform: translateY($base * 3.8);
  }
  66.6% {
    opacity: 1;
    transform: translateY($base * 5.2);
  }
  100% {
    opacity: 0;
    transform: translateY($base * 8) scale(0.5);
  }
}
