.last-section {
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2em;
  .ls-row {
    width: 43%;
    padding: 0.6em;
    h3, p {
      margin-bottom: 1em;
    }

    &:first-child, &:last-child {
      background-color: rgba(215, 223, 237, 0.2);
    }
    &:nth-child(2), &:nth-child(3) {
      background-color: rgba(130, 182, 255, 0.2);
    }

    .ls-img-div {
      height: 7em;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      &.ls-img1 {
        background-image: url('../images/wisnie-czerwone.jpg');
      }
      &.ls-img2 {
        background-image: url('../images/czeresnie-w-misce.jpg');
      }
      &.ls-img3 {
        background-image: url('../images/jablka-zielone.jpg');
      }
      &.ls-img4 {
        background-image: url('../images/truskawka-zerwana.jpg');
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .last-section {
    .ls-row {
      width: 20%;
      padding: 1.2em;
    }
  }
}