.normal-fruits {
  width: 85%;
}

.nf-box {
  color: black;
  h2 {
    margin-bottom: 1em;
  }
  .nf-paragraph {
    // text-align: center;
    margin-bottom: 2em;
    max-width: 650px;
  }
}

.nf-photos img {
  max-width: 80%;
  margin-bottom: 2em;
}

@media only screen and (min-width: 900px) {
  .nf-box {
    .nf-photos {
      flex-direction: row;
      img {
        width: 50%;
        height: 400px;
      }
    }
  }
}
