.h1-wannabe {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
}

.super-fruits {
  width: 90%;
  margin-bottom: 3em;
}

.sf-row {
  max-height: 13em;
  .sf-img-div {
    width: 50%;
    height: 180px;
    background-repeat: no-repeat;
    background-size: contain;
    &.sf-img1 {
      background-image: url('../images/wisnie-czerwone.jpg');
      background-position: right;
    }
    &.sf-img2 {
      background-image: url('../images/czeresnie-w-misce.jpg');
      background-position: left;
    }
    &.sf-img3 {
      background-image: url('../images/jablka-zielone.jpg');
      background-position: right;
    }
    &.sf-img4 {
      background-image: url('../images/truskawka-zerwana.jpg');
      background-position: left;
    }
  }
  img {
    max-height: 100%;
    
  }
  .sf-text-box {
    width: 50%;
    max-width: 650px;
    h4 {
      margin-bottom: 0.6em;
    }
    p {
      font-size: 0.9em;
    }

    h4, p {
      padding: 0 1em;
    }
  }
}


